<!DOCTYPE html>
<!-- file: views/book/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>

<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form>
     {{#book}}
     <div class="row">
      <div class="six columns">
       <label for="idInput">Id</label>
       <input class="u-full-width" type="number" readonly
          id="id" value="{{id}}">
      </div>
      <div class="six columns">
         <label for="titleInput">Title</label>
         <input class="u-full-width" type="text" readonly
            id="title" value="{{title}}">
      </div>
      <div class="six columns">
       <label for="editionInput">Edition</label>
       <input class="u-full-width" type="text" readonly
          id="edition" value="{{edition}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="copyrightInput">Copyright</label>
       <input class="u-full-width" type="number" readonly
          id="copyright" value="{{copyright}}"> 
      </div>
      <div class="six columns">
       <label for="languageInput">Language</label>
       <input class="u-full-width" type="text" readonly
         id="language" value="{{language}}">
      </div>
      <div class="six columns">
         <label for="pagesInput">Pages</label>
         <input class="u-full-width" type="number" readonly
           id="pages" value="{{pages}}">
      </div>
      <div class="six columns">
         <label for="authorInput">Author</label>
         <input class="u-full-width" type="text" readonly
           id="author" value="{{author}}">
      </div>
      <div class="six columns">
         <label for="author_idInput">Author_id</label>
         <input class="u-full-width" type="number" readonly
           id="author_id" value="{{author_id}}">
      </div>
      <div class="six columns">
         <label for="publisherInput">Publisher</label>
         <input class="u-full-width" type="text" readonly
           id="publisher" value="{{publisher}}">
      </div>
      <div class="six columns">
         <label for="publisher_idInput">Publisher_id</label>
         <input class="u-full-width" type="number" readonly
           id="publisher_id" value="{{publisher_id}}">
      </div>
     <a class="button button-primary" href="/book">Back</a>
     </div>
     {{/book}}
    </form>
   </div>
  </div>
 </div>
</body>
</html>




